{% extends 'default.html' %}
{% load custom_filters %}
{% block title %}Удаление{% endblock title %}

{% block content %}
<table style='margin: auto' border='2'>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Содержание</td>
    </tr>
    <tr>
        <td>{{post.postTitle|censor}}</td>
        <td>{{post.dateCreation|date:'d M Y'}}</td>
        <td>{{post.postText|truncatechars:50|censor}}</td>
    </tr>       
</table>

<form method='POST'>
    {% csrf_token %}
    <input type="submit" value='Удалить'>
</form>

{% endblock content %}